<a href="https://colab.research.google.com/github/mesrp88/direct_commit/blob/master/python_easy_program.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Created by "SWORUP RAJ POUDEL"<br>
BASIC PYTHON PROGRAMMING!!

1. Converting km into miles

In [ ]:
km= float(input("Enter value of km: "))
km_miles= 0.621
miles= km* km_miles
print(str(km)+" km is equal to "+str(miles)+ " miles" )

Enter value of km: 24.4
24.4 km is equal to 15.152399999999998 miles

2. Convert Celsius to Fahrenheit

In [ ]:
celsius= float(input("Enter celsius value: "))
fahrenheit_ratio = 1.8*celsius+32
print(celsius, "celisus is equal to", fahrenheit_ratio,"Fahrenheit")

Enter celsius value: 44
44.0 celisus is equal to 111.2 Fahrenheit

3. Find the Square Root of a Number

In [ ]:
numbers= float(input("Enter number: "))
square_root= numbers**(1/2)
print("Square root of", numbers, "is", square_root)

Enter number: 25
Square root of 25.0 is 5.0

4. Find the Area of a Triangle

In [ ]:
base= float(input("Enter base: "))
height= float(input("Enter height: "))
area= (1/2)*base*height
print("Area of triangle is", area)

Enter base: 4
Enter height: 5
Area of triangle is 10.0

5. Swap Two Variables

In [ ]:
variable1= float(input())
variable2= float(input()) 
print("variable1:",variable1,"variable2:", variable2)
temp= variable1
variable1= variable2
variable2= temp
print("variable1:",variable1, "variable2:", variable2)

21
11
variable1: 21.0 variable2: 11.0
variable1: 11.0 variable2: 21.0

In [ ]:
list1= []
for i in range(0,9):
  list1.append(i**2)
print(list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
# using list comprehension
list2= [i**2 for i in range(0,9)]
print(list2)

[0, 1, 4, 9, 16, 25, 36, 49, 64]

In [ ]:
numbers= [1,2,3,4,5]
square_number= {}
for number in numbers:
  square_number[number]= number**2
print(square_number)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#dictionary comprehension
sq_numbers = {number:number**2 for number in numbers}
print(sq_numbers)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
#dictionary camprehensio with conditions
sq_numbers = {number:number**2 for number in numbers if number>3}
print(sq_numbers)

{4: 16, 5: 25}